{% extends "base.html" %}

{%set title='Pandemodlium'%}

{% block body %}

<p>This site lists resources for a small group of interested parties, mostly actuaries at this point.</p>

<h4>Main links</h4>

<ul>
    <li><a href="papers.html">Papers</a></li>
    <li><a href="tags.html">Tags</a></li>
    <li><a href="tags.html#github">GitHub repos</a></li>
    <li><a href="tags.html#dashboard">Dashboards</a></li>
    <li><a href="http://www.github.com/pandemodlium">pandemodlium on GitHub</a></li>

</ul>

{% endblock %}

